.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  --accent-font: 'IBM Plex mono';
  --frame-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --bg-color: #000028; 
  --button-color: #FF0070;
  --decor-color: #FF0070;
  --header-text-color: #000028;
  --button-hover: rgba(255, 0, 112, 0.40);
}