.page {
  color: var(--text-color, #f1b2ce);
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  background-color: var(--bg-color);
}

.header {
  position: relative;
  display: grid;
  align-items: center;
  height: 100vh;
  margin-block-end: var(--page-padding);
  grid-template-areas:
    "menu menu"
    "title title"
    ". text";
  grid-template-columns: 50%;
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-areas:
      "menu menu"
      "title title"
      "text text";
  }
}

.header__theme-menu {
  justify-self: end;
  grid-area: menu;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media screen and (min-width: 1024px) {
  .header__theme-menu {
    position: absolute;
    top: var(--page-padding);
    left: 0;
    right: 0;
    margin-inline-end: auto;
    margin-inline-start: auto;
    width: 236px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--accent-font, sans);
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  width: 70px;
  height: 26px;
  padding: 0px 13px;
  color: var(--button-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  outline: 0;
}

.header_title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-family: var(--accent-font, sans);
  line-height: 82.5%;
  font-weight: 700;
  color: var(--title-color);
  grid-area: title;
}

.header_text {
  color: var(--header-text-color);
}

.title-decor {
  text-shadow: 4px 4px 0 var(--decor-color);
}

.header_paragraph {
  grid-area: text;
  margin-block-end: 20px;
  background-color: var(--frame-color);
}

.font-style {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section_first,
.section_thrid {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 30% auto;
  }
}

.section_first .section_content,
.section_thrid .section_content {
  display: grid;
  gap: 20px;
}

.section_second {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
  grid-template-columns: auto auto auto;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 30% auto;
  }
}

.main_title {
  color: var(--button-color);
}

.text-decor {
  text-shadow: 2px 2px 0px var(--frame-color);
}

.text-decor:hover {
  text-decoration: underline;
}

.text-decor:focus-visible {
  border: 1px solid var(--text-color);
  outline: 0;
}

.section_second .main_title {
  grid-column: 1;
  grid-row: 1;

  @media screen and (max-width: 767px) {
    grid-column: 1 / 3;
  }
}

.section_second article {
  grid-column: auto;
  grid-row: 2;

  @media screen and (max-width: 1023px) {
    grid-column: 1 / 3;
    grid-row: auto;
  }
}

.section_galery {
  display: grid;
}

.main_galery {
  margin-block-end: 60px;
  margin-block-start: var(--page-padding);
  display: grid;
  gap: 20px;
  grid-template-areas:
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street";

  @media screen and (max-width: 767px) {
    margin-block-end: 40px;
    grid-template-columns: 100%;
    grid-template-areas:
      "sunset"
      "icecream"
      "tape"
      "books"
      "street";
    gap: 10px;
  }
}

.section_galery_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_galery_pic_sunset {
  grid-area: sunset;
}

.section_galery_pic_icecream {
  grid-area: icecream;
}

.section_galery_pic_tape {
  grid-area: tape;
}

.section_galery_pic_books {
  grid-area: books;
}

.section_galery_pic_street {
  grid-area: street;
}

.section_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-start: 10px;
}

.section_title {
  color: var(--header-text-color);
  background-color: var(--frame-color);
}

.section_title_slim {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--frame-color);
  color: var(--header-text-color);
}

footer {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--page-padding);
}

.footer-decor {
  text-shadow: 2px 2px 0px var(--decor-color);
}

.grab-zone {
  position: relative;
}

.grab-zone::after {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: var(--page-padding);
  right: var(--page-padding);
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.grab-zone::before {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

.header_rec {
  position: absolute;
  top: calc(var(--page-padding) + 2px);
  right: calc(var(--page-padding) + 3px);
  color: var(--frame-color);
  gap: 10px;
  align-items: center;
}

.header_rec:before {
  content: "REC";
}

.header_rec:after {
  content: url(../images/ellipse.svg);
  width: 21px;
  height: 21px;
}
